/*
Name: Sliding Login Panel with jQuery 1.3.2
Author: Jeremie Tisseau
Author URI: http://web-kreation.com/
Date: March 26, 2009
Version: 1.0

	Copyright 2009 Jeremie Tisseau
	"Sliding Login Panel with jQuery 1.3.2" is distributed under the GNU General Public License version 3:
	http://www.gnu.org/licenses/gpl-3.0.html
*/

/***** clearfix *****/
.slider_clear {clear: both;height: 0;line-height: 0;}
.slider_clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.slider_clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .slider_clearfix {height: 1%;}
.slider_clearfix {display: block;}
/* End hide from IE-mac */
.slider_clearfix {height: 1%;}
.slider_clearfix {display: block;}

#slider_top_panel *,
#slider_panel *,
#slider_content * {
    border:0pt none;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 100%;
    font-style:inherit;
    font-weight:inherit;
    margin:0pt;
    padding:0pt;
    vertical-align:baseline;
}

/* Panel Tab/button */
.slider_tab {
  	background: url(/img/slider/tab_b.png) repeat-x 0 0;
	height: 42px;
	position: relative;
    top: 0;
    z-index: 999;
}

.slider_tab ul.slider_login {
	display: block;
	position: relative;
  	float: right;
  	clear: right;
  	height: 42px;
	width: auto;
  	line-height: 42px;
	margin: 0;
	right: 150px;
  	color: white;
  	font-size: 80%;
	text-align: center;
}

.slider_tab ul.slider_login li.slider_left {
  	background: url(/img/slider/tab_l.png) no-repeat left 0;
  	height: 42px;
	width: 30px;
	padding: 0;
	margin: 0;
  	display: block;
	float: left;
}

.slider_tab ul.slider_login li.slider_right {
  	background: url(/img/slider/tab_r.png) no-repeat left 0;
  	height: 42px;
	width: 30px;
	padding: 0;
	margin: 0;
  	display: block;
	float: left;
}

.slider_tab ul.slider_login li {
 	text-align: left;
  	padding: 0 6px;
	display: block;
	float: left;
	height: 42px;
  	background: url(/img/slider/tab_m.png) repeat-x 0 0;
}

.slider_tab ul.slider_login li a {
	color: #15ADFF;
}

.slider_tab ul.slider_login li a:hover {
	color: white;
}

div.slider_tab ul.slider_login li {
    margin: auto;
}
	
.slider_tab .slider_sep {color:#414141}

.slider_tab a.slider_open, .slider_tab a.slider_close {
	height: 20px;
	line-height: 20px !important;
	padding-left: 30px !important;
	cursor: pointer;
	display: block;
	width: 120px;
	position: relative;
	top: 11px;
}

.slider_tab a.slider_open {background: url(/img/slider/bt_open.png) no-repeat left 0;}
.slider_tab a.slider_close {background: url(/img/slider/bt_close.png) no-repeat left 0;}
.slider_tab a:hover.slider_open {background: url(/img/slider/bt_open.png) no-repeat left -19px;}
.slider_tab a:hover.slider_close {background: url(/img/slider/bt_close.png) no-repeat left -19px;}

/* sliding panel */
#slider_toppanel {
    position: absolute;   /*Panel will overlap  content */
    /*position: relative;*/   /*Panel will "push" the content down */
    top: 0;
    width: 100%;
    z-index: 999;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#slider_panel {
	width: 100%;
	height: 270px;
	color: #999999;
	background: #272727;
	overflow: hidden;
	position: relative;
	z-index: 3;
	display: none;
}

#slider_panel h1 {
	font-size: 1.6em;
	padding: 5px 0 10px;
	margin: 0;
	color: white;
	font-family: 'Maven Pro', cursive;
}

#slider_panel h2{
	font-size: 1.2em;
	padding: 10px 0 5px;
	margin: 0;
	color: white;
	font-family: 'Maven Pro', cursive;
}

#slider_panel p {
	margin: 5px 0;
	padding: 0;
}

div.slider_left h1,
div.slider_left h2,
div.slider_left p {
    background-color: #272727;
}
	
#slider_panel a {
	text-decoration: none;
	color: #15ADFF;
}

#slider_panel a:hover {
	color: white;
}

#slider_panel a-lost-pwd {
	display: block;
	float: left;
}

#slider_panel .slider_content {
	width: 960px;
	margin: 0 auto;
	padding-top: 15px;
	text-align: left;
	font-size: 0.85em;
}

#slider_panel .slider_content .slider_left {
	width: 280px;
	float: left;
	padding: 0 15px;
	border-left: 1px solid #333;
}

#slider_panel .slider_content .slider_right {
	border-right: 1px solid #333;
}

#slider_panel .slider_content form {
	margin: 0 0 10px 0;
}

#slider_panel .slider_content label {
	float: left;
	padding-top: 8px;
	clear: both;
	width: 280px;
	display: block;
}

#slider_panel .slider_content input.slider_field {
	border: 1px #1A1A1A solid;
	background: #414141;
	margin-right: 5px;
	margin-top: 4px;
	width: 200px;
	color: white;
	height: 16px;
}

#slider_panel .slider_content input:focus.slider_field {
	background: #545454;
}

/* BUTTONS */
/* Login and Register buttons */
#slider_panel .slider_content input.slider_bt_login,
#slider_panel .slider_content input.slider_bt_register {
	display: block;
	float: left;
	clear: left;
	height: 24px;
	text-align: center;
	cursor: pointer;
	border: none;
	margin: 10px 0;
	margin: auto;
	padding: auto;
	font-family: Verdana, Geneva, sans-serif;
}

#slider_panel .slider_content input.slider_bt_login {
	width: 74px;
	background: transparent url(/img/slider/bt_login.png) no-repeat 0 0;
}

#slider_panel .slider_content input.slider_bt_register {
	width: 94px;
	color: white;
	background: transparent url(/img/slider/bt_register.png) no-repeat 0 0;
}

#slider_panel .slider_lost-pwd {
	display: block;
	float:left;
	clear: right;
	padding: 5px 5px 0;
	font-size: 0.95em;
	text-decoration: underline;
}

